{% extends "templateMaster.twig" %}

{% block content %}
  <h1>Add Job</h1>

  <div class="alert alert-primary" role="alert">
    {{ ResponseMessage }}
  </div>

  {# <form action="/PlatziPHP/CursoPHP/add/job" method="POST" enctype="multipart/form-data"> #}
  <form action="/add/job" method="POST" enctype="multipart/form-data">
    <label for="">Title:</label>
    <input type="text" name="title">
    <br>
    <label for="">Description:</label>
    <input type="text" name="description">
    <br>
    <input type="file" name="logo"><br>
    <button type="submit">Save</button>
  </form>
{% endblock %}
